.auth-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth-container.dark {
  background-color: var(--bg-color-primary);
  background-image: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.05) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.05) 50%,
      rgba(255, 255, 255, 0.05) 75%,
      transparent 75%,
      transparent
    ),
    linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.05) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.05) 50%,
      rgba(255, 255, 255, 0.05) 75%,
      transparent 75%,
      transparent
    );
  background-size: 40px 40px;
}
.auth-container.light {
  background-color: var(--bg-color-primary);
  background-image: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.3) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.3) 50%,
      rgba(255, 255, 255, 0.3) 75%,
      transparent 75%,
      transparent
    ),
    linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.3) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.3) 50%,
      rgba(255, 255, 255, 0.3) 75%,
      transparent 75%,
      transparent
    );
  background-size: 40px 40px;
}

.auth-form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px 10px;
  border-radius: 16px;
  width: min(90%, 450px);
  background-color: var(--bg-glass);
  backdrop-filter: var(--backdrop-filter);
  -webkit-backdrop-filter: var(--webkit-backdrop-filter);
  border: 1px solid var(--glass-border);
  box-shadow: var(--glass-box-shadow);
}

.auth-header {
  width: min(90%, 400px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 15px;
  background-color: var(--card-bg-color-primary);
  border-radius: 16px;
  box-shadow: var(--box-shadow-primary);
}

.auth-header__title {
  text-align: center;
  color: var(--text-color-primary);
  font-size: clamp(20px, 2vw, 24px);
  text-shadow: var(--text-shadow-primary);
}

.auth-header__subtitle {
  text-align: center;
  color: var(--text-color-primary);
  font-size: clamp(12px, 2vw, 14px);
  text-shadow: var(--text-shadow-primary);
}

.auth-form {
  width: min(90%, 400px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 20px;
  background-color: var(--card-bg-color-primary);
  border-radius: 16px;
  box-shadow: var(--box-shadow-primary);
}

.auth-form__input {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--border-color-primary);
  background-color: transparent;
}

.auth-form__button {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--border-color-primary);
  background-color: var(--button-bg-color-primary);
  cursor: pointer;
  color: var(--text-color-secondary);
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.auth-form__button:hover {
  background-color: var(--button-hover-bg-color-primary);
}

.auth-prompt {
  display: flex;
  align-items: last baseline;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  background-color: var(--card-bg-color-primary);
  border-radius: 16px;
  box-shadow: var(--box-shadow-primary);
  width: min(90%, 400px);
}

.auth-prompt__text {
  text-align: center;
  color: var(--text-color-primary);
  font-size: clamp(12px, 2vw, 14px);
  text-shadow: var(--text-shadow-primary);
}

.auth-prompt__button {
  cursor: pointer;
  color: var(--text-color-primary);
  text-shadow: var(--text-shadow-primary);
  font-weight: 600;
  font-size: clamp(12px, 2vw, 14px);
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}
.auth-prompt__button:hover {
  text-decoration: underline;
}
