.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
}

.loader {
  display: block;
  width: 84px;
  height: 84px;
  position: relative;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #fff;
  transform: translate(-50%, -100%) scale(0);
  animation: push_401 2s infinite linear;
}

.loader:after {
  animation-delay: 1s;
}

@keyframes push_401 {
  0%,
  50% {
    transform: translate(-50%, 0%) scale(1);
  }

  100% {
    transform: translate(-50%, -100%) scale(0);
  }
}
